<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>CHÀO MỪNG ĐẾN VỚI CỬA HÀNG ĐIỆN THOẠI MẪN HÀO!</h1>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>

        <p><a th:href="@{/login}">Click here to login.</a></p>
    </body>
</html>